




.saved-container {
   margin-left: 2rem;
   margin-right: 2rem;
   border: thick;
   align-items: center;
   padding-right: 2rem;
   height: 250px;
   background: white;
   /* outline: thin; */
}

.header {
    display: flex;
    justify-content: center;
    /* border: double; */
    /* padding-right: 1.4rem; */
}


.start-button {
    background-color: gold
}



.saved-scores {
    list-style-type: decimal;
}
.container {
    display: flex;
    /* background-color: #000000; */
    margin-right:33%;
    justify-content: center;
    padding: 1rem;
    background-image: url(https://cdn.wallpapersafari.com/57/55/RTvmOg.jpg);
}


.grid {
    width: 200px;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    background-color:#2f4353;
    background-image: linear-gradient(315deg, #2f4353 0%, #d2ccc4 74%);
    outline: solid;
}

.grid div {
    height: 20px;
    width: 20px;
}

.tetromino {
    background-color: blue;
   outline-style: solid;
   outline-width: thin;
}
.mini-grid {
    margin-left: 50px;
    width: 80px;
    height: 80px;
    display: flex;
    flex-wrap: wrap;
    background-image: linear-gradient(315deg, #2f4353 0%, #d2ccc4 74%);
    outline: solid;
}

.mini-grid div {
    height: 20px;
    width: 20px;

}
